<%= render "layouts/navigation/main_menu",collection: @categories	 %>

		<div class="banner">
		<div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
		<div class="container fill_height">
			<div class="row fill_height">
				<div class="banner_product_image"></div>
    			<div class="col-lg-8 offset-lg-4 fill_height">
    				<div class="row align-items-center">
						<% if @products.exists? %>
						<% @products.each do |product|%>

				<div class="col-6">
					
						<% product.images.each do |image| %> 
						<%= link_to (image_tag image,:class =>  "img-fluid" ), show_product_path(product) %>
						<% end %>
					
				</div>

				<div class="col-6">
					<div class="">
					<h3 class=""><b><%= product.name %></b></h3>
					<span>
						<span class="text-danger">₹</span>
					<span class="banner_price"><%= product.price %></span>
				</span>
					
					<div class="d-flex"><p>color: </p> <div class="ml-1"><%= product.color %></div></div>
					<div class="button banner_button">	<%= link_to "shop now", add_to_cart_path(product), method: :put %></div>
				</div>
<hr class="text-danger">
				</div>
		
				<% end %>
				<% else %>
			<h1>Oops! No matching products...	</h1>
				
				<% end %>
							<%= paginate @products %>
					</div>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>