
<%if @user.present? %>
	<div class="d-flex flex-column justify-content-center">
		<div class="d-flex flex-column">
			<h4>Conatct details</h4>
			<%=current_user.name%> <br />
			<%= current_user.contact_no %>
		</div>

		<div class="my-3">
			<h4>Address</h4>
			<% @user.each do |address|%>
			<div class="d-flex flex-column my-3">
				<div><%=address.address%></div>
				<div> <%=address.area%> <%=address.city%></div>
				<%=address.state%>
				pincode: <%= address.pincode %>
			</div>
		
		<div>
			
<%= link_to 'Edit', edit_address_path(address) %>
<%= link_to 'Remove', address, method: :delete, data: { confirm: 'Are you sure?' } %> 
	<%end%>

		</div>
			<% end %>
<h1>New Address</h1>

<%= render 'form', address: @address %>
<!-- 
<%= link_to 'Back', addresses_path %>
 -->






