<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.user_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @address.pincode %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @address.address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @address.area %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<!--  <%= link_to 'Back', addresses_path %>
 -->