<!-- Menu -->
<%= render "layouts/navigation/main_menu" %>

<div class="banner">
	<div
		class="banner_background"
		style="background-image: url(images/banner_background.jpg)"
	></div>
	<div class="container fill_height">
		<div class="row fill_height">
			<div class="banner_product_image"></div>
			<div class="col-lg-8 offset-lg-4 fill_height">
				<div class="row align-items-center">
					<% @products.each do |product|%>
					<div class="d-flex">
						<div class="col-6">
							<% product.images.each do |image| %> 
							<%= link_to (image_tag image,:class => "img-fluid" ), product_path(product) %> <% end %>
						</div>

						<div class="col-6">
							<div class="">
								<h3 class=""><b><%= product.name %></b></h3>
								<span>
									<span class="text-danger">₹</span>
									<span class="banner_price"><%= product.price %></span>
								</span>

								<div class="d-flex">
									<p>color:</p>
									<div class="ml-1"><%= product.color %></div>
								</div>
							</div>
						</div>
						<hr />
					</div>
					<% end %> <%= paginate @products %>
				</div>
			</div>
		</div>
	</div>
</div>
