<div class="container fill_height">
	<div class="row align-items-center">
		<div class="col-8">
			<% @product.images.each do |image| %> <%= image_tag image ,:id => "zoom_01",:class =>
			'img-fluid',:data_zoom_image => image %> <% end %>
		</div>

		<div class="col-4">
			<div class="">
				<h3 class=""><b><%= @product.name %></b></h3>
				<span>
					<span class="text-danger">₹</span>
					<span class="banner_price"><%= @product.price %></span><br />
					<span>
						<% if @product.discount == 0 %>
						<p>Discount not available</p>
						<% else %>
						<p>Discount <%= @product.discount %></p>
						<% end %>
					</span>
				</span>

				<div class="d-flex">
					<p>color:</p>
					<div class="ml-1"><%= @product.color %></div>
				</div>
				<div class="d-flex">
					Sold By :
					<div class="ml-1"><%= @product.sold_by %></div>
				</div>

				<div><b> Brand : </b> <%= @product.brand %></div>
				<div><b> Memory Storage : </b> <%= @product.memoryStorage %></div>
				<div><b> Operating System : </b> <%= @product.operatingSystem %></div>
				<div>
					<b> About this item :</b><br />
					<li><%= @product.description %></li>
				</div>
				<div>
				</div>
				<%if @product.stock == 0 %>
				<div class="text-danger">product is currently out of stock</div>

				<%else%>
				<div class="button banner_button">
					<%= link_to "Add to cart", add_to_cart_path(@product), method: :put %>
				</div>
				<% end %>
				<div class="button banner_button">
					<%= link_to "Add to wishlist", add_to_wishlist_path(@product), remote:
					true %>
				</div>
				<div class="button banner_button">
					<%= link_to "write a review ", new_review_path(@product) %>
				</div>
				<!-- <div class="button banner_button">
				<%= link_to "view all review ", all_review_path(@product) %>
			</div> -->
			</div>
		</div>
	</div>
</div>
<%if @review.present?%> <%= render template: 'reviews/index'%> <%end%>
<div></div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js'></script>
<script>
$("#zoom_01").elevateZoom({
	  cursor: "crosshair",
	  easing: true
});
	
</script>
