<% unless current_supplier.admin? %>
<%= render 'supplier/navbar' %>
<div style="float:right;" class=" button "><%=link_to 'Export orders', export_csv_path(format: 'csv')  %></div>
<td><%=link_to "generate pdf",order_mgmt_path(@products,:format=>:pdf)%></td>
		<table class="table table-hover", id="destroy-order">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">user Name</th>
					<th scope="col">product name</th>
					<th scope="col">order time</th>
					<th scope="col"></th>
					
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
			
				<% @products.each do |product|%>
				<tr>

					<th scope="row"></th>
					<td><%=product[0]%></td>
					<td><%=product[1]%></td>
					<td><%=product[2].strftime("%d/%m/%y at %I:%M%p")%></td>
			
					
					<td><%=link_to "cancel order",order_cancel_path(product[3],product[4]),id: product[3], method: :delete,remote: true%></td>
					 <%= form_for @order_detail , url:delivered_products_path(product[3]) do |f|%>
					 <%if product[5]==true%>
					<td><%= f.check_box "order_status", {checked: true  ,disabled: "disabled"}%></td>
					<td><%= f.submit "delivered",disabled: true %></td>
					<%else%>
						<td><%= f.check_box "order_status", disabled: true%></td>
						<td><%= f.submit "deliver" %></td>
						<%end%>
					
					<% end %>
				</tr>
				<%end%>
			</tbody>
		</table>
	</div>
	<hr>
	<h2 class="mt-4 p-2 text-primary underline">order statistics</h2>
	<div class="d-flex justify-content-around">
		<div>
			<%= column_chart Product.where(supplier_id:
			current_supplier.id).joins(:orders).group_by_day(:created_at).count ,
			ytitle: "orders count"%>
		</div>
		<div>
			<%= line_chart Product.where(supplier_id:current_supplier.id).joins(:products_wishlists,:category).group(:category_type).count, xtitle: "category type", ytitle: "wishlist count"%>
		</div>
	</div>
</nav>

<%end%>
