<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
     
    
    <div style="overflow: initial;" class="super_container">
      <!-- Header -->

      <header class="header">
        <!-- Top Bar -->
        <% unless user_signed_in? || supplier_signed_in? %>
        <div class="top_bar">
          <div class="container">
            <div class="row">
              <div class="col d-flex flex-row">
                <div class="top_bar_contact_item">
                  <div class="top_bar_icon"><%= image_tag "phone.png" %></div>
                  +38 068 005 3570
                </div>
                <div class="top_bar_contact_item">
                  <div class="top_bar_icon"><%= image_tag "mail.png" %></div>
                  <a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a>
                </div>
                <div class="top_bar_content ml-auto">
                  <div class="top_bar_user">

                          <div class="user_icon">
                  <%= image_tag "user.svg" %></div>
                <div><%= link_to "Register",new_user_registration_path %></div>
                 </div>
                </div>
                <div class="top_bar_menu d-flex">
                  <div style="margin-top: 20px" class="user_icon">
                  <%= image_tag "user.svg" %></div>
                  <ul class="standard_dropdown top_bar_dropdown">
                   
                    <li >

                      <%= link_to 'login' %><i
                        class="fas fa-chevron-down"
                      ></i>
                      <ul>
                        <li>
                          <%= link_to 'User Login',
                          new_user_session_path %>
                        </li>
                        <li>
                          <%= link_to "Supplier Login",new_supplier_session_path%>
                        </li>
               
                <% end %>
       <!--              <% if supplier_signed_in? %>
                      </div>
                </div>
                <div class="top_bar_menu d-flex">
                  <div style="margin-top: 20px" class="user_icon">
                  <%= image_tag "user.svg" %></div>
                  <ul class="standard_dropdown top_bar_dropdown">
                   
                    <li >

                      <%= link_to current_supplier.email %><i
                        class="fas fa-chevron-down"
                      ></i>
                      <ul>
                        <li>
                          <%= link_to 'Edit Profile',
                          edit_supplier_registration_path %>
                        </li>
                        <li>
                          <%= link_to "logout",destroy_supplier_session_path,
                          method: :delete %>
                        </li>
                     
                     <% elsif user_signed_in? %>
                  </div>
                </div>
                <div class="top_bar_menu d-flex">
                  <div style="margin-top: 20px" class="user_icon">
                  <%= image_tag "user.svg" %></div>
                  <ul class="standard_dropdown top_bar_dropdown">
                   
                    <li >

                      <%= link_to current_user.name %><i
                        class="fas fa-chevron-down"
                      ></i>
                      <ul>
                        <li>
                          <%= link_to 'Edit Profile',
                          edit_user_registration_path %>
                        </li>
                         <li>
                          <%= link_to "your orders",order_path %>
                        </li>
                          <li>
                          <%= link_to "your reviews",your_reviews_path %>
                        </li>
                        <li>
                          <%= link_to "logout",destroy_user_session_path,
                          method: :delete %>
                        </li>
                        <% else %>

                          <div class="user_icon">
                  <%= image_tag "user.svg" %></div>
                <div><%= link_to "Register",new_user_registration_path %></div>
                 </div>
                </div>
                <div class="top_bar_menu d-flex">
                  <div style="margin-top: 20px" class="user_icon">
                  <%= image_tag "user.svg" %></div>
                  <ul class="standard_dropdown top_bar_dropdown">
                   
                    <li >

                      <%= link_to 'login' %><i
                        class="fas fa-chevron-down"
                      ></i>
                      <ul>
                        <li>
                          <%= link_to 'User Login',
                          new_user_session_path %>
                        </li>
                        <li>
                          <%= link_to "Supplier Login",new_supplier_session_path%>
                        </li>
               
                <% end %>-->
                      </ul>
                    </li>
                    
                  </ul>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="header_main">
          <div class="container">
            <div class="row">
              <!-- Logo -->
              <div class="col-lg-2 col-sm-3 col-3 order-1">
                <div class="logo_container">
                  <div class="logo"><%= link_to "OneTech", root_path %></div>
                </div>
              </div>

              <!-- Search -->
            <% unless supplier_signed_in? %>
              <div
                class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right"
              >
                <div class="header_search">
                  <div class="header_search_content">
                    <div class="header_search_form_container">
                      <%= form_with url: search_index_path, method: :get, local: true, class:
                      "header_search_form clearfix" do |form| %>
                       <%= form.text_field :query, value: params[:query], class: 'header_search_input', placeholder: 'search for products' %>
                      <%end%>
                        
                        <button
                          type="submit"
                          class="header_search_button trans_300"
                          value="Submit"
                        >
                          <%= image_tag "search.png" %>
                        </button>
                       
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <%end%>
               <% if supplier_signed_in? %>
              <div
                class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right"
              >
                <div class="header_search">
                  <div class="header_search_content">
                    <div class="header_search_form_container">
                      <%= form_with url: product_search_path, method: :get, local: true, class:
                      "header_search_form clearfix" do |form| %>
                       <%= form.text_field :query, value: params[:query], class: 'header_search_input', placeholder: 'search for products' %>
                      <%end%>
                        
                        <button
                          type="submit"
                          class="header_search_button trans_300"
                          value="Submit"
                        >
                          <%= image_tag "search.png" %>
                        </button>
                      
                      </form>
                    </div>
                  </div>
                </div>
              </div>
                <%end%>

              <!-- Wishlist -->
             
              <div
                class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right"
              >
                <div
                  class="wishlist_cart d-flex flex-row align-items-center justify-content-end"
                >
                <%unless supplier_signed_in? %>
                  <div
                    class="wishlist d-flex flex-row align-items-center justify-content-end"
                  >
                    <div class="wishlist_icon">
                      <%= image_tag "heart.png" %>
                    </div>
                    <div class="wishlist_content">
                      <div class="wishlist_text"><%= link_to "wishlist", wishlists_show_path %></div>
                      <% if current_user.present? %>
                       <% if current_user.wishlist.present?%>
                      <div class="wishlist_count"><span id="like_counter"><%= current_user.wishlist.products.all.size %></div></span>
                      <%else%>
                        <div class="wishlist_count"><span id="like_counter">0</div></span>
                      <% end%>
                      <%end%>
                    </div>
                  </div>

                  <!-- Cart -->
                  <div class="cart">
                    <div
                      class="cart_container d-flex flex-row align-items-center justify-content-end"
                    >
                      <div class="cart_icon">
                        <%= image_tag "cart.png" %>
                        <div class="cart_count"> 
                          <%if current_user.present?%>
                          <span><%=current_user.cart_count%></span>
                          <%else%>
                            <span>0</span>
                          <%end%>
                        </div>
                      </div>
                      <div class="cart_content">
                        <div class="cart_text"> <%= link_to cart_path do%>
    My Cart
   
  </div>
                      <%end%>
                      </div>
                      <% if user_signed_in? %>
                       <div class="cart">
                    <div
                      class="cart_container d-flex flex-row align-items-center justify-content-end"
                    >
                      <div  class="user_icon cart_icon">
                  <%= image_tag "user.svg" %></div>
                  <ul class="standard_dropdown top_bar_dropdown">
                   
                    <li class="hassubs">
                      <div class="mt-4 ">
                      <%= link_to current_user.name , :class => " cart_content cart_text " %>
                    </div><i
                        class="fas fa-chevron-down"
                      ></i>
                      <ul>
                        <li>
                          <%= link_to 'Edit Profile',
                          edit_user_registration_path %>
                        </li>
                         <li>
                          <%= link_to "your orders",order_path %>
                        </li>
                          <li>
                          <%= link_to "your reviews",your_reviews_path %>
                        </li>
                        <li>
                          <%= link_to "logout",destroy_user_session_path,
                          method: :delete %>
                        </li>
                        <%end%>
                      <%end%>
                       <%if supplier_signed_in?%>
                       <div class="top_bar_menu d-flex">
                  <div style="margin-top: 20px" class="user_icon">
                  <%= image_tag "user.svg" %></div>
                  <ul class="standard_dropdown top_bar_dropdown">
                   
                    <li >

                      <%= link_to current_supplier.email %><i
                        class="fas fa-chevron-down"
                      ></i>
                      <ul>
                        <li>
                          <%= link_to 'Edit Profile',
                          edit_supplier_registration_path %>
                        </li>
                        <li>
                          <%= link_to "logout",destroy_supplier_session_path,
                          method: :delete %>
                        </li>
                    </div>
                    <%end%>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </header>
    </div>
    
 <%= yield %>
  </body>
</html>